* {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

body {
    color: darkturquoise;
    overflow: hidden;
}

.helper {
    min-height: 10rem;
    min-width: 30rem;
    position: absolute;
    top: 25.3rem;
    left: 15rem;
    text-align: center;
    background: darkturquoise;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;

    animation: popup-start-anim .3s ease-out forwards;
}

.helper i {
    font-size: 3rem;
    transform: rotate(80deg);
    position: relative;
    left: 15rem;
    bottom: 1.5rem;
    color: darkturquoise;
}

.helper p {
    color: white;
    font-size: 1.5rem;
}

.alert {
    background: rgba(255, 0, 0, 0.47);
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    width: fit-content;
    height: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    animation: popup-start-anim .3s ease-out forwards;
}

.alert p {
    color: white;
    font-size: 2rem;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.wrapper h1 {
    font-size: 3rem;
    margin: 10rem 0;
    padding-bottom: 1rem;
    border-bottom: 3px solid darkturquoise;
}

.wrapper #start, #compare {
    width: 14rem;
    height: 7rem;
    background: darkturquoise;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    position: relative;
}

#input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2000px;
}

#input-field input {
    height: 4rem;
    width: 50%;
    border: none;
    border-bottom: 3px solid darkturquoise;
    margin: 2rem;
    font-size: 2rem;
    text-align: center;
    color: darkturquoise;
}

#input-field input:focus {
    outline: 0;
}

#input-field input::placeholder {
    color: rgba(0, 207, 210, 0.57);
}

#input-field #choix-precedents {
    text-align: center;
}

#input-field #choix-precedents p:first-child {
    margin-top: 2rem;
    font-size: 1.4rem;
}

.start-out-anim {
    animation: start-out-anim .5s linear forwards;
}

.start-in-anim {
    animation: start-in-anim .5s linear forwards;
}

.input-field-in {
    animation: input-field-in .5s linear forwards;
}

.input-field-out {
    animation: input-field-out .8s linear forwards;
}


@keyframes start-out-anim  {
    0% {
        left: 0;
    }
    100% {
        left: 2000px;
    }
}

@keyframes start-in-anim {
    0% {
        left: 2000px;
    }
    100% {
        left: 0;
    }
}

@keyframes input-field-in {
    0% {
        top: 2000px
    }
    100% {
        top: -170px;
    }
}

@keyframes input-field-out {
    0% {
        top: -170px;
    }
    100% {
        top: 2000px;
    }
}

@keyframes popup-start-anim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}